.page-footer {
    padding-bottom: $base-spacing;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    font-size: modular-scale(1);
}

.footer__image {
    width: 30%;
    max-width: 200px;
}
