.questions__answer-label {
    @include clearfix;
}

.questions__answer-label-wrapper {
    float: right;
    display: flex;
    justify-content: space-around;
    width: $checkbox-side;
}

.questions__additional-info {
    position: relative;
    top: $small-spacing;
    text-align: right;
}

.questions__submit-wrapper {
    margin-top: $base-spacing * 2;
    text-align: right;
}

.question {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        margin-bottom: $base-spacing;
    }
}

.question__text {
    flex: 1;
    display: block;
    font-size: modular-scale(2);
}
