.questions__answer-labels {
    @include clearfix;
}

.questions__answer-labels-wrapper {
    float: right;
    display: flex;
    justify-content: space-around;
    width: calc(#{$checkbox-side} * 2 + #{$base-spacing});
}

.questions__additional-info {
    position: relative;
    top: $small-spacing;
    text-align: right;
}

.questions__submit-wrapper {
    margin: $base-spacing * 2 0 $base-spacing;
    text-align: right;
}

.question {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        margin-bottom: $base-spacing;
    }
}

.question__text {
    flex: 1;
    display: block;
    font-size: modular-scale(2);
}
