.questions__submit-wrapper {
    margin: $base-spacing * 2 0 $base-spacing;
    text-align: right;
}

.question {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        margin-bottom: $small-spacing;
    }
}

.question__text {
    flex: 1;
    display: block;
    font-size: modular-scale(2);
}
