.choice__input:not(:checked),
.choice__input:checked {
    z-index: -1;
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
}

.choice__input:not(:checked) + label,
.choice__input:checked + label {
    $checkbox-side: 35px;
    width: $checkbox-side;
    height: $checkbox-side;
    margin: 0;
    margin-left: $base-spacing;
    transition: 0.04s;
}

.choice__input:not(:checked) + label {
    background-color: $light-gray;
}

.choice__input:not(:checked) + label:hover {
    background-color: $medium-gray;
    cursor: pointer;
}

.choice__input:checked + label {
    background-color: $blue;
}

.choice__input--no:checked + label {
    background-color: $red;
}

.choice__input:checked + label:hover {
    background-color: shade($blue, 30%);
    cursor: pointer;
}

.choice__input--no:checked + label:hover {
    background-color: shade($red, 30%);
    cursor: pointer;
}
