.choice {
    display: flex;
}

.choice__input:not(:checked),
.choice__input:checked {
    z-index: -1;
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
}

.choice__input:not(:checked) + label,
.choice__input:checked + label {
    width: $checkbox-side-small;
    height: $checkbox-side-small;

    @media all and (min-width: $ml-screen) {
        width: $checkbox-side;
        height: $checkbox-side;
    }

    margin: 0;
    margin-left: $base-spacing;
    transition: 0.04s;
}

.choice__input:not(:checked) + label {
    background-color: $checkbox-color-d;
}

.choice__input:not(:checked) + label:hover {
    background-color: $medium-gray;
    background-color: shade($checkbox-color-d, 30%);
    cursor: pointer;
}

.choice__input:checked + label {
    background-color: $checkbox-color-p;
}

.choice__input--no:checked + label {
    background-color: $checkbox-color-n;
}

.choice__input:checked + label:hover {
    background-color: shade($checkbox-color-p, 30%);
    cursor: pointer;
}

.choice__input--no:checked + label:hover {
    background-color: shade($checkbox-color-n, 30%);
    cursor: pointer;
}
