html {
  box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-wrapper {
    width: $content-width;
    max-width: $content-max-width;
    margin: auto;
}

.main-wrapper--narrow {
    max-width: $content-max-width / 2;
}

.main-block {
    margin-bottom: $base-spacing;
    margin-top: $menu-icon-bar-height-small;

    @media all and (min-width: $ml-screen) {
        margin-top: $menu-icon-bar-height;
    }

    @media all and (min-width: $xl-screen) {
        margin-top: $base-spacing;
    }
}

.page-section {
    &:not(:last-of-type) {
        margin-bottom: $base-spacing;
    }
}
