html {
  box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-wrapper {
    width: $content-width;
    max-width: $content-max-width;
    margin: auto;
}

.main-block {
    @media all and (max-width: $xl-screen - 1px) {
        margin-top: $menu-icon-bar-height;
    }
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
}

.page-section {
    margin-bottom: $base-spacing;
}
