{% extends "base.html" %}

{% block header %}
<header class="page-header">
    <h1>
        <div class="page-heading-accent"></div>
        STOP anafylaksian oireet (äkillinen vaikea allergiareaktio)
    </h1>
</header>
{% endblock %}

{% block content %}
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Tunnista anafylaksia
    </h2>
    <ul>
        <li>Tunnistat anafylaksiaan liittyvät, tyypilliset alkuoireesi
            <ul>
                <li>ihon punoitus, turpoaminen tai nokkosrokko</li>
                <li>nielun ja kurkun kutiseminen ja turpoaminen</li>
                <li>äänen käheytyminen, hengenahdistus</li>
                <li>pahoinvointi, oksentelu, ripuli</li>
            </ul>
        </li>
        <li>Tiedät ja tunnistat anafylaksian aiheuttajan</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Estä paheneminen (anafylaksian ensiapu)
    </h2>
    <ul>
        <li>Heti kun tunnistat oireet, pistä kertakäyttöisellä adrenaliini-injektorilla reiden tai olkavarren lihakseen</li>
        <li>Soita (tai pyydä joku muu soittamaan) hätänumeroon 112 ja ilmoita, että olet saanut anafylaksian</li>
        <li>Ota antihistamiini- ja kortisonitabletit</li>
        <li>Jos sinulla on astma, ota vähintään 2 annosta avaavaa astma lääkettä</li>
        <li>Hakeudu välittömästi lähimpään päivystyspisteeseen</li>
        <li>Selvitä myöhemmin, mikä aiheutti reaktion ja kuinka se on jatkossa vältettävissä</li>
        <li>Varmista, että sinulla on aina mukana SOS-passi (Punainen Risti) tai muu selkeä tieto vaikeasta allergiasta</li>
        <li>Pidä aina mukana 2 adrenaliini-injektoria</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Adrenaliini-injektorin käyttöohje
    </h2>
    <ul>
        <li>Ota injektori käteen</li>
        <li>Irrota turvakorkki</li>
        <li>Paina injektorin kärki ulkoreittä vasten kunnes kuuluu ’klik’-ääni ja pidä injektoria paikallaan 10 sekuntia</li>
        <li>Hiero pistoskohtaa 10 sekunnin ajan</li>
        <li>Soita (tai pyydä joku muu soittamaan) hätänumeroon 112 ja ilmoita, että olet saanut anafylaksian</li>
        <li>Jos oireet jatkuvat tai ne uusiutuvat, käytä toinen injektori 5–10 minuutin kuluttua</li>
    </ul>
</section>
{% endblock %}
