{% extends "base.html" %}

{% block heading %}
2. STOP pikkulapsen astmaoireet
{% endblock %}

{% block content %}
<section class="page-section">
    <h2 class="u-no-bottom-margin">
        <div class="heading-accent"></div>
        Tunnista paheneminen
    </h2>
    <ul>
        <li>Lapsi on flunssainen, yskii, yöyskää.</li>
        <li>Keuhkoputkia avaavan lääkkeen tarve lisääntyy (usein jo ensimmäisenä flunssapäivänä).</li>
        <li>Rasituksensieto huononee, lapsi yskii leikkiessä tai itkiessä.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Estä paheneminen
    </h2>
    <ul>
        <li>Käytä avaavaa lääkettä riittävästi (ks. ohje alla).</li>
        <li>Aloita inhaloitava kortisoni tai kaksinkertaista käytössä olevan kortisonin annos vähintään viikoksi.</li>
        <li>Hakeudu lääkärille/hoitajalle/päivystykseen, jos kotilääkitys ei auta. On huolestuttavaa, jos pikkulapsen henkeä ahdistaa ja hän väsähtää.</li>
        <li>Pahenemisvaiheen jälkeen on tarkistettava lääkärin tai hoitajan kanssa astman perushoidon riittävyys.</li>
    </ul>
</section>
<div class="content-change">
    <div>&#9679</div>
    <div>&#9679</div>
    <div>&#9679</div>
</div>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Astmakohtauksen tunnistaminen
    </h2>
    <p>
        Lapsen lievä astmakohtaus aiheuttaa hengityksen muuttumisen
        pinnallisemmaksi ja nopeammaksi. Mitä vaikeampi hengenahdistus
        sitä pitempään uloshengitys kestää. Vinkunaa voi kuulua sekä
        ulos- että sisäänhengityksessä.
    </p>
    <p>
        Jos hengenahdistus vaikeutuu, lapsi voi muuttua kalpeaksi ja
        pahimmillaan huulet alkavat sinertää. Mitä vaikeampi hengenahdistus
        sitä pidempi uloshengityksen kesto. Silloin vinkunaa voi
        kuulua sekä ulos- että sisäänhengityksessä. Kylkivälit tulevat
        usein selvästi näkyviin, lapsi käyttää voimakkaasti palleaa ja
        hengittää raskaasti.
    </p>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Astmakohtauksen hoito
    </h2>
    <p>
        Anna tilanjatkeella (alle 3-vuotiaalla maskin kanssa) SALBUTAMOLI-sumutinta
        (0.1 mg) yksi suihke ja anna lapsen hengittää vähintään
        5 kertaa edestakaisin tai 15 sekuntia. Toista sama annos
        välittömästi.
    </p>
    <p>
        Mikäli lasta edelleen ahdistaa tai hän yskii, anna 20 minuutin kuluttua
        uudelleen 2 suihketta. Tilanteen jatkuessa anna 20 minuutin
        kuluttua vielä kolmannen kerran 2 suihketta (yhteensä 6
        suihketta 40 minuutin aikana).
    </p>
    <p>
        Jos pienen lapsen hengenahdistus ei selvästi helpotu, hakeudu
        lääkäriin. Jos tilanne on inhaalatioiden jälkeen selvästi parempi,
        annostele jatkossa 2 suihketta 2-4 tunnin välein ja
        harvenna annoksia vähitellen oireiden mukaan. Aloita myös
        inhaloitava kortisoni tai kaksinkertaista sen annos vähintään
        viikoksi.
    </p>
</section>
{% endblock %}
