{% extends "base.html" %}

{% block heading %}
1. STOP aikuisen astmaoireet
{% endblock %}

{% block content %}
<section class="page-section">
    <h2 class="u-no-bottom-margin">
        <div class="heading-accent"></div>
        Tunnista paheneminen
    </h2>
    <ul>
        <li>Keuhkoputkia avaavan lääkkeen tarve lisääntyy muutaman päivän kuluessa.</li>
        <li>Flunssainen, tukkoinen olo.</li>
        <li>Yskää ja hengitysvaikeuksia, erityisesti yöllä.</li>
        <li>Rasituksensieto huononee.</li>
        <li>Aamun puhallusarvot tavallista huonompia (PEF-arvot mitattuna PEF-mittarilla).</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Estä paheneminen
    </h2>
    <ul>
        <li>Kaksin- tai nelinkertaista hoitavan inhaloitavan kortisonin annos tai aloita sen käyttö 2 viikon ajaksi.</li>
        <li>Ota avaava lääke ennen hoitavaa lääkettä 2 viikon ajan. Sen jälkeen tarpeen mukaan.</li>
        <li>Jos käytät kortisonin ja avaavan yhdistelmälääkettä, kaksinkertaista annos 1-2 viikon ajaksi.</li>
        <li>Aloita lisäksi tarvittaessa kortisonitablettikuuri, prednisoloni 20 mg tai metyyliprednisoloni 16 mg kerran päivässä 1-2 viikon ajan.</li>
        <li>Kaikilla säännöllistä lääkitystä käyttävillä astmapotilailla tulee olla kortisonitabletit kotona varalla.</li>
        <li>Mene päivystykseen, jos hoito ei auta. Tarkista myöhemmin hoitavan lääkityksen riittävyys.</li>
    </ul>
</section>
{% endblock %}
