<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='menu.js') }}"></script>
    </head>
    <body class="info-page">
        <!-- MENU -->
        <div class="menu__icon-bar">
          <div class="menu__icon-wrapper js-menu-trigger">
            <img class="menu__icon" src="{{ url_for('static', filename='images/menu.svg') }}" alt="Menu" />
          </div>
        </div>
        <nav class="js-menu menu__content">
          <ul class="neutral">
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='astma-aikuiset') }}">1. Aikuisen astmaoireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='astma-lapset') }}">2. Pikkulapsen astmaoireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='nuha') }}">3. Aikuisen allergisen nuhan oireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='konjunktiviiti') }}">4. Aikuisen allergisen konjunktiviitin oireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='atooppinen-ihottuma-aikuiset') }}">5. Aikuisen atooppisen ihottuman oireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='atooppinen-ihottuma-lapset') }}">6. Lapsen atooppisen ihottuman oireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='urtikaria') }}">7. Urtikarian oireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='kasi-ihottuma') }}">8. Käsi-ihottuman oireet</a>
            </li>
            <li>
              <a class="menu__link" href="{{ url_for('instructions', page='anafylaksia') }}">9. Anafylaksian oireet</a>
            </li>
          </ul>
        </nav>
        <div class="js-menu-screen menu__fade-screen"></div>
        <!-- CONTENT -->
        <main class="main-block">
            <div class="main-wrapper">
                <header class="page-header">
                    <h1>
                        <div class="page-heading-accent"></div>
                        {% block heading %} Heading {% endblock %}
                    </h1>
                </header>

                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer__content main-wrapper">
                <div class="footer__links">
                    <div>Lisätietoa:</div>
                    <a href="http://www.terveyskirjasto.fi/terveyskirjasto/tk.koti?p_artikkeli=dlk00009" target="_blank">Duodecim terveyskirjasto - astma</a>
                </div>
                <img class="footer__image" src="{{ url_for('static', filename='images/allergiaohjelma-logo-tp.png') }}" alt="Allergiaohjelman logo" />
            </div>
        </footer>
    </body>
</html>
