<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='menu.js') }}"></script>
    </head>
    <body class="info-page">
        <!-- MENU -->
        <div class="menu__icon-bar">
          <div class="menu__icon-wrapper js-menu-trigger">
            <img class="menu__icon" src="{{ url_for('static', filename='images/menu.svg') }}" alt="Menu" />
          </div>
        </div>
        <nav class="js-menu menu__content">
          <ul class="neutral">
            <li>
              <a class="menu__link" href="/astma-allergia/index.html">Aikuisen astmaoireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/astma-lapset.html">Pikkulapsen astmaoireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/nuha.html">Aikuisen allergisen nuhan oireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/konjunktiviiti.html">Aikuisen allergisen konjunktiviitin oireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/atooppinen-ihottuma-aikuiset.html">Aikuisen atooppisen ihottuman oireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/atooppinen-ihottuma-lapset.html">Lapsen atooppisen ihottuman oireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/urtikaria.html">Urtikarian oireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/kasi-ihottuma.html">Käsi-ihottuman oireet</a>
            </li>
            <li>
              <a class="menu__link" href="/astma-allergia/anafylaksia.html">Anafylaksian oireet</a>
            </li>
          </ul>
        </nav>
        <div class="js-menu-screen menu__fade-screen"></div>
        <!-- CONTENT -->
        <main class="main-block">
            <div class="main-wrapper">
                {% block header %}
                {% endblock %}
                
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer__content main-wrapper">
                <div class="footer__links">
                    <div>Lisätietoa:</div>
                    <a href="http://www.terveyskirjasto.fi/terveyskirjasto/tk.koti?p_artikkeli=dlk00009" target="_blank">Duodecim terveyskirjasto - astma</a>
                </div>
                <img class="footer__image" src="{{ url_for('static', filename='images/allergiaohjelma-logo-tp.png') }}" alt="Allergiaohjelman logo" />
            </div>
        </footer>
    </body>
</html>
