{% extends "base.html" %}

{% block header %}
<header class="page-header">
    <h1>
        <div class="page-heading-accent"></div>
        STOP aikuisen astmaoireet</h1>
</header>
{% endblock %}

{% block content %}
<section class="page-section">
    <ul>
        <li>Kansallisen allergiaohjelman 2008-2018 yhteydessä on laadittu OHJATUN OMAHOIDON OHJEET yhdeksästä tavallisesta allergisesta sairaudesta. Ohjeet tähtäävät siihen, että potilas tunnistaa oireiden lisääntymisen varhaisessa vaiheessa ja toimii PROAKTIIVISTI pysäyttääkseen oireiden lisääntymisen ja pahenemisen. Ohjattu omahoito toimii parhaiten potilaalla, jolla on lääkärin tekemä allergisen sairauden diagnoosi ja joka on saanut lääkärin tai hoitajan ohjausta omahoidon toteuttamiseksi.</li>
        <li>Ohjeet ovat voimakkaasti yksinkertaistettuja eivätkä korvaa lääkärin ja hoitajan antamia muita yksilöllisiä ohjeita.</li>
        <li>Omahoidon ohjeista voi olla apua erilaisissa tilanteissa, kuten matkoilla ja silloin, kun muuta asiantuntija-apua ei ole nopeasti saatavilla. Ohjeet on laadittu:
          <ol>
            <li>aikuisen astmasta</li>
            <li>lapsen astmasta</li>
            <li>aikuisen allergisesta nuhasta</li>
            <li>aikuisen allergisesta silmän sidekalvon tulehduksesta eli konjunktiviitista</li>
            <li>aikuisen atooppisesta ihottumasta</li>
            <li>lapsen atooppisesta ihottumasta</li>
            <li>urtikariasta eli nokkosihottumasta</li>
            <li>käsi-ihottumasta</li>
            <li>anafylaksiasta eli äkillisestä ja vaikeasta allergiareaktiosta</li>
          </ol>
        </li>
        <li>Lääketieteellisinä asiantuntijoina ovat toimineet: Håkan Granlund, Tari Haahtela, Osmo Kari, Kaarina Kukkonen, Mika Mäkelä, Anna Pelkonen, Anita Remitz, Juhani Rinne, Alexander Salava, Sanna Salmi, Erja Tommila, Erkka Valovirta. Verkkosivut on teknisesti toteuttanut Aleksanteri Hämäläinen.</li>
    </ul>
</section>
{% endblock %}
