{% extends "base.html" %}

{% block heading %}
4. STOP aikuisen allergisen konjunktiviitin oireet
{% endblock %}

{% block content %}
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Tunnista paheneminen
    </h2>
    <ul>
        <li>Silmien kutina, punoitus, vetistys, ärsytys, luomiturvotus tai ihottuma lisääntyvät.</li>
        <li>Oireet muuttuvat jatkuviksi.</li>
        <li>Oireet haittaavat normaalia elämää.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Estä paheneminen
    </h2>
    <ul>
        <li>Lisää tavallista allergialääkitystäsi. Käytä hoitavia allergiasilmätippoja säännöllisesti pahimman oirekauden ajan 2-4 viikkoa. Hoitavia tippoja ovat säilyteaineettomat kromoglikaattitipat tai lodoksamiditipat 2-4 kertaa päivässä tai antihistamiinitipat 2 kertaa päivässä.</li>
        <li>Älä käytä antihistamiinitippoja jatkuvasti yli 4 viikkoa, koska ne kuivattavat silmiä.</li>
        <li>Voit käyttää antihistamiinitabletteja, jotka auttavat myös nuhaan. Samanaikaisen nuhan hoito on tärkeää antihistamiineilla tai hoitavilla nenäsuihkeilla.</li>
        <li>Jos sinulla on lisäksi ns. kuivasilmäoireita eli ärsytystä, roskan tunnetta, vetistystä (ulkona tai tuulessa), käytä ilman reseptiä saatavia kostutustippoja. Niitä voit käyttää hoitavien allergiatippojen ohella.</li>
        <li>Jos omahoito ei tunnu auttavan, hakeudu lääkäriin.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Kuiva silmä
    </h2>
    <ul>
        <li>Oireet ovat usein samankaltaisia kuin allergisessa konjunktiviitissa, mutta kutinaa on vähemmän.</li>
        <li>Kokeile ilman reseptiä saatavia kuivasilmätippoja. Jos ne eivät auta, kokeile hoitavia allergiasilmätippoja, kuten säilyteaineettomia kromoglikaattitippoja tai lodoksamiditippoja 2-4 kertaa päivässä.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Estä luomitulehduksen paheneminen
    </h2>
    <ul>
        <li>Käytä luomiin lyhytaikaisesti kortisonivoidetta tai limuusivoidetta. Yli 2 viikkoa kestävä säännöllinen kortisonivoiteen käyttö voi aiheuttaa ongelmia ja vahingoittaa silmiäsi.</li>
        <li>Jos sinulle on määrätty kortisonia korvaavaa limuusivoidetta (takrolimuusi tai pimekrolimuusi), käytä sitä annetun ohjeen mukaan. Pahenemisvaiheessa käytä voidetta 1- 2 viikon ajan kerran päivässä ja sen jälkeen tarpeen mukaan.</li>
        <li>Takrolimuusivoide (0.03%) ja pimekrolimuusivoide (1%) ovat turvallisia myös pitkäaikaiskäytössä. Kortisonivoidetta ja limuusivoidetta ei suositella käytettäväksi samaan aikaan.</li>
        <li>Jos lisäksi on konjunktiviittioireita, käytä niihin samanaikaisesti allergiasilmätippoja.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Milloin lääkäriin?
    </h2>
    <ul>
        <li>Silmää särkee</li>
        <li>Näkö on heikentynyt</li>
        <li>Lääkkeet eivät tehoa</li>
        <li>Vaiva on jatkuvaa</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Kontrolli
    </h2>
    <ul>
        <li>Jos tarvitset jatkuvasti silmälääkkeitä, käy silmälääkärin kontrollissa 1-2 kertaa vuodessa tai sopimuksen mukaan.</li>
    </ul>
</section>
{% endblock %}
