{% extends "base.html" %}

{% block heading %}
3. STOP aikuisen allergisen nuhan oireet
{% endblock %}

{% block content %}
<section class="page-section">
    <h2 class="u-no-bottom-margin">
        <div class="heading-accent"></div>
        Tunnista paheneminen
    </h2>
    <ul>
        <li>Limavuoto, aivastelu, tai tukkoisuus lisääntyy.</li>
        <li>Nenää nopeasti avaavan lääkkeen (dekongestantin) tarve lisääntyy.</li>
        <li>Nenän paheneva tukkoisuus pakottaa hengittämään yöllä suun kautta.</li>
        <li>Nenä on enemmän tai vähemmän jatkuvasti tukossa.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Estä paheneminen
    </h2>
    <ul>
        <li>Käytä antihistamiinia säännöllisesti.</li>
        <li>Jos antihistamiini ei yksin auta, lisää lääkitykseen nenään sumutettava kortisoni 1-2 kertaa päivässä.</li>
        <li>Jos käytät jo kortisonisumutinta pitkäaikaiseen hoitoon, kaksinkertaista sen annos 1-2 viikon ajaksi.</li>
        <li>Käytä nenää nopeasti avaavaa dekongestanttia päivittäin enintään viikon ajan. Hoitojakson voi uusia, mutta jatkuva käyttö voi pahentaa tukkoisuutta entisestään.</li>
        <li>Muista nenän limakalvon kostutus (suihkeet, tipat) ja huuhtelu (kannu).</li>
        <li>Mene lääkäriin, jos tehostettu hoito ei auta.</li>
    </ul>
</section>
<section>
  <p>
    <strong>Huom!</strong> Kausinuhassa (siitepölyjen aiheuttama nuha, heinänuha) lääkkeitä käytetään joitakin viikkoja tai kuukausia. Jatkuvassa nuhassa lääkäri antaa tarkempia ohjeita lääkkeiden jaksottaisesta tai jatkuvasta käytöstä.
  </p>
</section>
{% endblock %}
