{% extends "base.html" %}

{% block heading %}
7. STOP urtikarian (nokkosrokko) oireet
{% endblock %}

{% block content %}
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Tunnista oireet
    </h2>
    <ul>
        <li>Tarkkarajaiset, punoittavat ja kutiavat ihon paukamat (kohoumat). Paukama voi olla yksittäinen tai niitä voi olla kymmeniä eri puolella kehoa.</li>
        <li>Paukamat nousevat nopeasti ja vaihtelevat kooltaan muutamasta millimetristä kymmeniin senttimetreihin.</li>
        <li>Yksittäinen paukama häviää viimeistään vuorokauden sisällä jälkiä jättämättä samalla, kun uusia saattaa ilmaantua.</li>
        <li>Joskus pienen ihoalueen turvotus ulottuu syvälle ihoon tai limakalvoon (tyypillisesti huulet, kieli, nielu, silmäluomet). Puhutaan angioödeemasta tai ”allergisesta turvotuksesta”.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Estä paheneminen
    </h2>
    <ul>
        <li>Jos urtikarian laukaisija on tunnistettu (esim. ruoka-aine), sitä vältetään.</li>
        <li>Jos syy on epäselvä, välttämisruokavalioista ei ole hyötyä.</li>
        <li>Ensisijainen lääke on antihistamiini. Käytä antihistamiinia tabletti päivässä oireiden estämiseksi. Antihistamiineja saa apteekista myös ilman reseptiä.</li>
        <li>Jos yksi antihistamiinitabletti päivässä ei pidä oireita pois, saattaa annoksen suurentaminen auttaa. Sovi tästä lääkärin kanssa.</li>
        <li>Jos oireet tilapäisesti pahenevat antihistamiinista huolimatta, muutaman päivän kortisonikuuri tabletteina yleensä auttaa pahimman vaiheen yli (esim. prednisoloni 20 mg kerran päivässä 3 päivää). Jos oireilu on hankalaa, kortisonitabletteja pitää olla varalla ja ohjeet niiden käyttöön. Lasten kohdalla ohjetta on hyvä tarkentaa lääkäriltä.</li>
        <li>Jos pahenemisvaiheet toistuvat antihistamiinisuojasta huolimatta, kokeillaan muita pitkäaikaishoitoja. Tämä arvioidaan yhdessä lääkärin kanssa.</li>
    </ul>
</section>
<section class="page-section">
    <h2>
        <div class="heading-accent"></div>
        Hyvä tietää urtikariasta
    </h2>
    <ul>
        <li>Paukama syntyy, kun ihon niin sanotuista syöttösoluista vapautuu nopeasti histamiinia ja muita aineita. Ne lisäävät ihon verisuonten läpäisevyyttä aiheuttaen punoitusta, turvotusta ja kutinaa.</li>
        <li>Monet tekijät laukaisevat syöttösolun vaikuttaja-aineiden purkautumisen. Laukaisijoita voi olla monta samallakin henkilöllä ja ne voivat vaihdella.</li>
        <li>Urtikarian tai angioödeeman syynä on harvoin allergia.</li>
        <li>Akuutti nokkospaukamointi häviää 6 viikossa. Jos ei häviä, puhutaan kroonisesta urtikariasta. Se voi kestää kuukausia tai jopa vuosia, mutta myös kroonisella urtikarialla on taipumus parantua.</li>
        <li>Akuutin urtikarian tavallisin laukaisija on viruksen aiheuttama infektio, harvoin allergia. Kroonisen urtikarian laukaisijoita on lukuisia. Tutkimuksilla kartoitetaan tavallisimpia syitä, joita ovat piilevät infektiot ja esimerkiksi kilpirauhastulehdus. Monesti syytä ei löydy.</li>
        <li>Vaikka urtikarian laukaisijaa ei löydetä, oireet voidaan hallita lääkkeiden avulla kunnes tauti laantuu itsestään.</li>
        <li>Voimakas urtikaria voi olla pelottava oire, mutta ennuste on hyvä eikä oireilu yleensä huononna pitkäaikaista terveydentilaa.</li>
    </ul>
</section>
{% endblock %}
